<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Edit Customer</h2>

  <%= link_to "Back to Customers",
      admin_customers_path,
      class: "btn btn-secondary" %>
</div>

<%= render "form", customer: @customer %>