<div class="d-flex justify-content-between align-items-center mb-4">

  <div>

    <h2 class="fw-bold">
      Available Vehicles
    </h2>

    <p class="text-muted">
      Choose your next ride.
    </p>

  </div>

</div>

<div class="row">

  <%= render @vehicles %>

</div>