.top-navbar{

    height:70px;

    background:white;

    border-bottom:1px solid var(--dm-border);

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 25px;

}