<div class="d-flex justify-content-between align-items-center mb-4">

  <div>
    <h2>Edit Profile</h2>
    <p class="text-muted mb-0">
      Update your personal information.
    </p>
  </div>

</div>

<%= render "form" %>