<div class="btn-group btn-group-sm">

  <%= link_to edit_path,
      class: "btn btn-warning" do %>

    <i class="bi bi-pencil"></i>

  <% end %>

  <%= link_to delete_path,
      data: {
        turbo_method: :delete,
        turbo_confirm: "Delete this record?"
      },
      class: "btn btn-danger" do %>

    <i class="bi bi-trash"></i>

  <% end %>

</div>